/* using https://coolors.co/ to help with my color scheme

raisin black #231B1B
honeydew #D5F2E3
vivid tangerine #FB9F89
ming #587B7F
purple navy #655A7C */


body {
    background-color: #D5F2E3;
    margin: 0px;
    font-family: Futura, Helvetica, sans-serif, Arial;
    
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    margin: 10px;
    border: 5px solid #655A7C;
}

header, footer {
    color: #655A7C;
    background-color: #FB9F89;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    border: 1px solid #655A7C;
}

.header-text {
    padding: 10px;
    font-style: italic;
    text-align: center;
}

.header-text:hover {
    transition: transform .2s;
    transform: scale(1.10);
}

main {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    font-style: italic;
    text-decoration: underline;
}

ul {
    text-align: center;
    max-width: max-content;
}

li {
    text-align: left;
}

.content-section {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #587B7F;
    margin: 20px;
}

.content-section:hover {
    transition: transform .2s;
    transform: scale(1.10);
}

#links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;

}

a:visited { 
    text-decoration: none; 
    color: blue; 
   }

a:hover {
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 25px;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    height: 75px;
}

.footer-text {
    text-align: center;   
    font-size: 10px;
}

h3 {
    font-size: 12px;

}

h3:hover {
    transition: transform .2s;
    transform: scale(1.10);
}

.info {
    text-align: left;
}

.dark-mode {
    background-color: rgb(37, 37, 37);
    color: white;
}



#button-container {
    display: flex;
    justify-content: center;
}

#dark-mode-button {

    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.button-mode-dark {
    background-color: black;
    color: white;
}

.button-mode-light {
    background-color: white;
    color: black;
}


#dark-mode-button:hover {
    transition: transform .2s;
    transform: scale(1.10);
    cursor:pointer;
    border: 1px solid tomato;
}

.header-footer-dark-mode {

}